<!doctype html>
<html lang="es">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Formulario de pago para FonoTarot.com">
    <meta name="author" content="{{app_name}}">
    <title>Checkout Fonotarot - {{app_name}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f
            );
      })(window, document, 'script', 'dataLayer', 'GTM-589JBKJV');</script>
    <!-- End Google Tag Manager -->

    <style>
      .container {
        max-width: 960px;
      }
    </style>
  </head>

  <body class="bg-light">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-589JBKJV" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container">
      <main>
        <div class="py-5 text-center">
          <h2>Confirma tu Compra</h2>
        </div>
        <div class="row g-5">
          <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-primary">Producto</span>
              <span class="badge bg-primary rounded-pill">1</span>
            </h4>
            <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">{{ producto.descripcion }}</h6>
                </div>
                <span class="text-muted">{{ producto.valor }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>Total ({{ producto.moneda }})</span>
                <strong>{{ producto.valor }}</strong>
              </li>
            </ul>

            <form class="card p-2" action="#" method="post">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Código Promocional">
                <button type="button" class="btn btn-secondary">Aplicar</button>
              </div>
            </form>
          </div>
          <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Información Compra</h4>
            <form class="needs-validation" novalidate action="#" method="post">
              <input type="hidden" name="parametros_extra" value="{{ parametros_extra }}">
              {% csrf_token %}
              <div class="row g-3">
                <div class="col-sm-12">
                  <label for="firstName" class="form-label">Nombre <span class="text-muted">(Opcional)</span></label>
                  <input type="text" class="form-control" id="firstName" name="nombre" required>
                </div>
                <div class="col-12">
                  <label for="telefono" class="form-label">Telefóno</label>
                  <input type="tel" pattern="^56[0-9]{9}$" class="form-control" id="telefono" name="telefono" value="{{ telefono }}" required>
                  <div class="invalid-feedback">
                    Debes ingresar tu teléfono. ej: <b>56987654321</b>.
                  </div>
                </div>
                <div class="col-12">
                  <label for="email" class="form-label">Correo Electrónico</label>
                  <input type="email" class="form-control" id="email" name="email" value="{{ correo }}" required>
                  <div class="invalid-feedback">
                    Por favor ingrese un correo electrónico.
                  </div>
                </div>
              </div>
              <hr class="my-4">
              <button class="w-100 btn btn-primary btn-lg" type="submit" id="pagar">Pagar con {{ broker_name }}</button>
              <small class="text-muted"><a href="{% url "landing" %}">&lt;-- Cancelar compra y volver al inicio</a></small>
            </form>
          </div>
        </div>
      </main>
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; {% now "Y" %} FonoTarot</p>
      </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
      const forms = document.querySelectorAll('.needs-validation');
      Array.from(forms).forEach(function (form) {
        form.addEventListener("submit", function (event) { validar_formulario(form, event) })
      });

      function validar_formulario(form, event) {
        $("#pagar").prop('disabled', true);
        event.preventDefault();
        event.stopPropagation();
        form.classList.add('was-validated');
        if (!form.checkValidity()) {
          $("#pagar").prop('disabled', false);
          return false;
        }
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const nombre = document.querySelector('[name=nombre]').value;
        const correo = document.querySelector('[name=email]').value;
        const telefono = document.querySelector('[name=telefono]').value;
        const extra = document.querySelector('[name=parametros_extra]').value;
        const pack = "{{sign}}";
        var portal_client = $.ajax({
          method: 'PUT',
          url: '{% url "landing" %}',
          data: { pack: pack, correo: correo, telefono: telefono, extra: extra, nombre: nombre },
          cache: false,
          dataType: "json",
          headers: {
            "X-CSRFToken": csrftoken
          }
        });
        portal_client.done(function (data, textStatus, jqXHR) {
      Swal.fire({
        title: 'Compra Creada',
        text: 'Su compra ha sido creada exitosamente, por favor pague con el método seleccionado.',
        icon: 'success',
        confirmButtonText: "Continuar con el Pago",
        allowOutsideClick: false,
        didOpen: () => {
          window.location.href = data.url;
        }
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = data.url;
        }
      });
    });
      portal_client.fail(function (jqXHR, textStatus, errorThrown) {
        Swal.fire({
          title: 'Error',
          text: 'Ocurrió un problema al generar su pago, por favor intente nuevamente.',
          icon: 'error',
          allowOutsideClick: false,
          confirmButtonText: "Reintentar"
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = '{% url "landing" %}';
          }
        });
      });
  }
    </script>
  </body>

</html>
