<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Formulario de pago para AloTarot.cl">
    <meta name="author" content="{{app_name}}">
    <title>Formulario Compra AloTarot - {{app_name}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css">
    {% if google_ua %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{google_ua}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{google_ua}}');
  </script>
  {% endif %}
    <style>
      .iti { width: 100%; }
    </style>
  </head>
<body>
<main>
  <div class="container px-4 py-3">
    <p class="pb-2 border-bottom text-center fw-bold h4" style="color: indigo;">El teléfono que registres será donde se cargará la bolsa de minutos de tarot que compres, puedes cargar minutos de consulta de tarot de dos formas</p>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
      <div class="col d-flex align-items-start">
        <div>
          <h3><span class="badge" style="background-color: indigo;">Caja Vecina o Transferencia directa</span></h3>
          <p>Cuando hagas el deposito o transferencia del paquete de minutos que elijas, envíanos el comprobante a nuestro whatsapp <a href="https://api.whatsapp.com/send/?phone=56963349072&text=Soy+el+supervisor+del+servicio%2C+cu%C3%A9ntame+en+que+te+puedo+ayudar%3F&app_absent=0">+56 9 6334 9072</a> o mail <a href="mailto:soporte@alotarot.cl">soporte@alotarot.cl</a> e indícanos el teléfono que usarás para la consulta de tarot.</p>
          <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
            <div class="col d-flex align-items-start">
              <div>
                
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <div>
                <h2>Banco Estado</h2>
                <p class="small"><b>Nombre:</b> ZVN COMUNICACIONES SA.<br>
<b>Rut:</b> 76.230.683-2<br>
<b>Chequera Electronica:</b> 179974487<br>
<b>Correo:</b> consultas@alotarot.cl</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3><span class="badge" style="background-color: indigo;">Sin Moverte de tu Casa: Hazlo Online.</span></h3>
          <p>Para transferencia bancaria usa Khipu.<br>
Para pago con tarjeta de crédito o débito usa Flow.<br>
Y haz clic en <b>Comprar</b></p>
          <form action="{% url "landing" %}" method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <input type="hidden" id="pais" name="pais" value="{{ default_country }}" autocomplete="off">
            <input type="hidden" name="parametros_extra" value="{{ parametros_extra }}" autocomplete="off">
            <div class="row g-3">
              <div class="col-sm-12">
                <div class="col-sm-12">
                  <label for="username" class="form-label">Teléfono</label>
                  <input type="text" name="username" class="form-control" id="username" placeholder="Número telefónico o correo electronico" required autocomplete="on">
                  <div class="invalid-feedback">
                  Debes ingresar tu número telefónico.
                  </div>
              </div>
              </div>
              <div class="col-md-12">
                <label for="producto" class="form-label">Bolsa de Minutos</label>
                <select class="form-select" id="producto" name="producto" required autocomplete="off">
                <option value="">Seleccione minutos a comprar</option>
                {% for producto in productos %}
                <option value="{{ producto.id }}">{{ producto.descripcion }}</option>
                {% endfor %}
                </select>
                <div class="invalid-feedback">
                Debes seleccionar una Bolsa de Minutos.
                </div>
              </div>
              <div class="col-md-12">
                <label for="broker" class="form-label">Forma de Pago</label>
                <select class="form-select" id="broker" name="broker" required autocomplete="off">
                <option value="">Seleccione forma de pago</option>
                {% for broker in formas_pago %}
                <option value="{{ broker.slug }}::{{ broker.nombre }}">{{ broker.nombre }}</option>
                {% endfor %}
                </select>
                <div class="invalid-feedback">
                Debes seleccionar una Forma de Pago
                </div>
              </div>
              <hr class="my-4">

              <button class="w-100 btn btn-primary btn-lg" type="submit">Comprar</button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; {% now "Y" %} AloTarot</p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/intlTelInput.min.js"></script>
<script type="text/javascript">
  var input = document.querySelector("#username");
  var iti = window.intlTelInput(input, {
    onlyCountries: ["cl"],
    initialCountry: "{{ default_country }}",
    hiddenInput: "telefono_e164",
    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/utils.js",
  });
  input.addEventListener("countrychange", function() {
    document.querySelector("#pais").value = iti.getSelectedCountryData().iso2;
  });
    
</script>

<script type="text/javascript">
  (function () {
  'use strict'
  const forms = document.querySelectorAll('.needs-validation')
  Array.from(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
        form.classList.add('was-validated')
      }, false)
    })
  })()
</script>
</body>
</html>
