<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Formulario de pago para FonoTarot.com" />
    <meta name="author" content="{{app_name}}" />
    <title>Formulario Compra FonoTarot - {{app_name}}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/css/intlTelInput.css"
    />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-589JBKJV");
    </script>
    <!-- End Google Tag Manager -->

    <style>
      .iti {
        width: 100%;
      }
    </style>
  </head>
  <body class="bg-light">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-589JBKJV"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <main>
      <div class="container px-4 py-5">
        <p class="pb-2 border-bottom">
          <img
            src="https://fonotarot.com/wp-content/uploads/2019/11/fonotarot5.png"
          />
        </p>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
          <div class="col d-flex align-items-start">
            <div>
              <h2>Habilitación Automática</h2>
              <p>
                Completa el proceso de pago y tus minutos se habilitarán
                automáticamente.
              </p>
              <form
                action="{% url 'landing' %}"
                method="post"
                class="needs-validation"
                novalidate
              >
                {% csrf_token %}
                <input
                  type="hidden"
                  id="pais"
                  name="pais"
                  value="{{ default_country }}"
                  autocomplete="off"
                />
                <input
                  type="hidden"
                  name="parametros_extra"
                  value="{{ parametros_extra }}"
                  autocomplete="off"
                />
                <div class="row g-3">
                  <div class="col-sm-12">
                    <div class="col-sm-12">
                      <label for="username" class="form-label">Teléfono</label>
                      <input
                        type="text"
                        name="username"
                        class="form-control"
                        id="username"
                        placeholder="Número telefónico o correo electronico"
                        required
                        autocomplete="on"
                      />
                      <div class="invalid-feedback">
                        Debes ingresar tu número telefónico.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label for="producto" class="form-label"
                      >Bolsa de Minutos</label
                    >
                    <select
                      class="form-select"
                      id="producto"
                      name="producto"
                      required
                      autocomplete="off"
                    >
                      <option value="">Seleccione minutos a comprar</option>
                      {% for producto in productos %}
                      <option value="{{ producto.id }}">
                        {{ producto.descripcion }}
                      </option>
                      {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                      Debes seleccionar una Bolsa de Minutos.
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label for="broker" class="form-label">Forma de Pago</label>
                    <select
                      class="form-select"
                      id="broker"
                      name="broker"
                      required
                      autocomplete="off"
                    >
                      <option value="">Seleccione forma de pago</option>
                      {% for broker in formas_pago %}
                      <option value="{{ broker.slug }}::{{ broker.nombre }}">
                        {{ broker.nombre }}
                      </option>
                      {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                      Debes seleccionar una Forma de Pago
                    </div>
                  </div>
                  <hr class="my-4" />

                  <button class="w-100 btn btn-primary btn-lg" type="submit">
                    Comprar
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div>
              <h2>Transferencia Electrónica</h2>
              <p>
                Cuando hagas el deposito o transferencia del paquete de minutos
                que elijas, envíanos el comprobante a nuestro whatsapp
                <a
                  href="https://api.whatsapp.com/send/?phone=56963349072&text=Soy+el+supervisor+del+servicio%2C+cu%C3%A9ntame+en+que+te+puedo+ayudar%3F&app_absent=0"
                  >+56 9 6334 9072</a
                >
                o mail
                <a href="mailto:pagos@fonotarot.com">pagos@fonotarot.com</a> e
                indícanos el teléfono que usarás para la consulta de tarot.
              </p>
              <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
                <div class="col d-flex align-items-start">
                  <div>
                    <h2>Banco Estado</h2>
                    <p class="small">
                      <b>Nombre:</b> Ruurd Hobma SPA<br />
                      <b>Rut:</b> 77042096-2<br />
                      <b>Chequera Elec/Vista:</b> 179873281<br />
                      <b>Correo:</b> pagos@fonotarot.com
                    </p>
                  </div>
                </div>
                <div class="col d-flex align-items-start">
                  <div>
                    <h2>Banco Santander</h2>
                    <p class="small">
                      <b>Nombre:</b> Ruurd Hobma SPA<br />
                      <b>Rut:</b> 77042096-2<br />
                      <b>Nº cuenta corriente:</b> 74670830<br />
                      <b>Correo:</b> pagos@fonotarot.com
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; {% now "Y" %} FonoTarot</p>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/intlTelInput.min.js"></script>
    <script type="text/javascript">
      let bolsa = document.querySelector("#producto");
      bolsa.addEventListener("change", function () {
        console.log(document.querySelector("#producto option:checked").text);
        let nombre = document.querySelector("#producto option:checked").text;
        let datos = nombre.split(" - ");
        let valor = datos[0].replace("$", "").replace(".", "");
        let minutos = datos[1];
        console.log(`nombre=${nombre}`);
        console.log(`valor=${valor}`);
        console.log(`minutos=${minutos}`);
        let payload = {
          event: "add_to_cart",
          ecommerce: {
            currency: "CLP",
            value: valor,
            items: [
              {
                item_name: document.querySelector("#producto option:checked")
                  .text,
                index: 0,
                item_brand: "FonoTarot",
                item_category: "Tarot Prepago",
                price: valor,
                quantity: 1,
              },
            ],
          },
        };
        console.log(payload);
        dataLayer.push({ ecommerce: null }); // Clear the previous ecommerce
        dataLayer.push(payload);
      });
      var input = document.querySelector("#username");
      var iti = window.intlTelInput(input, {
        onlyCountries: ["cl"],
        initialCountry: "{{ default_country }}",
        hiddenInput: "telefono_e164",
        utilsScript:
          "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/utils.js",
      });
      input.addEventListener("countrychange", function () {
        document.querySelector("#pais").value =
          iti.getSelectedCountryData().iso2;
      });
    </script>
    <script type="text/javascript">
      (function () {
        "use strict";
        const forms = document.querySelectorAll(".needs-validation");
        Array.from(forms).forEach(function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add("was-validated");
              let nombre = document.querySelector(
                "#producto option:checked"
              ).text;
              let datos = nombre.split(" - ");
              let valor = datos[0].replace("$", "").replace(".", "");

              let payload_checkout = {
                event: "begin_checkout",
                ecommerce: {
                  currency: "CLP",
                  value: valor,
                  items: [
                    {
                      item_name: nombre,
                      index: 0,
                      item_brand: "FonoTarot",
                      item_category: "Tarot Prepago",
                      price: valor,
                      quantity: 1,
                    },
                  ],
                },
              };
              console.log(payload_checkout);
              dataLayer.push({ ecommerce: null });
              dataLayer.push(payload_checkout);
            },
            false
          );
        });
      })();
    </script>
  </body>
</html>
