{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Formulario de pago para FonoTarot.com">
    <meta name="author" content="{{app_name}}">
    <title>Formulario Compra FonoTarot - {{app_name}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/css/intlTelInput.css">
    {% if google_ua %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{google_ua}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{google_ua}}');
  </script>
  {% endif %}
    <style>
      .iti { width: 100%; }
    </style>
  </head>
<body class="bg-light">
<main>
  <div class="container px-4 py-5">
    <p  class="pb-2 border-bottom">
      <img src="https://fonotarot.com/wp-content/uploads/2019/11/fonotarot5.png">
    </p>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
      <div class="col d-flex align-items-start">
        <div>
          <h2>Habilitación Automática</h2>
          <p>Completa el proceso de pago y tus minutos se habilitarán automáticamente.</p>
          <form action="{% url 'landing' %}" method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <input type="hidden" id="pais" name="pais" value="{{ default_country }}" autocomplete="off">
            <input type="hidden" name="parametros_extra" value="{{ parametros_extra }}" autocomplete="off">
            <div class="row g-3">
              <div class="col-sm-12">
                <div class="col-sm-12">
                  <label for="username" class="form-label">Teléfono o Correo Electrónico</label>
                  <input type="text" name="username" class="form-control" id="username" placeholder="Número telefónico o correo electronico" required autocomplete="on">
                  <div class="invalid-feedback">
                  Debes ingresar tu número de teléfono o Correo Electrónico
                  </div>
              </div>
              </div>
              <div class="col-md-12">
                <label for="producto" class="form-label">Bolsa de Minutos</label>
                <select class="form-select" id="producto" name="producto" required autocomplete="off">
                <option value="">Seleccione minutos a comprar</option>
                {% for producto in productos %}
                <option value="{{ producto.id }}">{{ producto.descripcion }}</option>
                {% endfor %}
                </select>
                <div class="invalid-feedback">
                Debes seleccionar una Bolsa de Minutos.
                </div>
            </div>
            <div class="col-md-12">
                <label for="broker" class="form-label">Forma de Pago</label>
                <select class="form-select" id="broker" name="broker" required autocomplete="off">
                <option value="">Seleccione forma de pago</option>
                {% for broker in formas_pago %}
                <option value="{{ broker.slug }}::{{ broker.nombre }}">{{ broker.nombre }}</option>
                {% endfor %}
                </select>
                <div class="invalid-feedback">
                Debes seleccionar una Forma de Pago
                </div>
            </div>
              <hr class="my-4">

              <button class="w-100 btn btn-primary btn-lg" type="submit">Comprar</button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; {% now "Y" %} FonoTarot</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/intlTelInput.min.js"></script>
<script type="text/javascript">
var input = document.querySelector("#username");
var iti = window.intlTelInput(input, {
  //quitar cl
  onlyCountries: ["ar", "bo", "br", "cl", "co", "ec", "mx", "py", "pe", "uy", "us"],
  initialCountry: "{{ default_country }}",
  hiddenInput: "telefono_e164",
  utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/utils.js",
  geoIpLookup: function(success, failure) {
    $.get("https://ipinfo.io", function() {}, "jsonp").always(function(resp) {
      var countryCode = (resp && resp.country) ? resp.country : "cl";
      success(countryCode);
      });
    },
  });
  input.addEventListener("countrychange", function() {
    document.querySelector("#pais").value = iti.getSelectedCountryData().iso2;
  });
</script>
<script type="text/javascript">
  (function () {
  'use strict'
  const forms = document.querySelectorAll('.needs-validation')
  Array.from(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
        form.classList.add('was-validated')
      }, false)
    })
  })()
</script>
</body>
</html>