<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Formulario de pago para FonoTarot.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Formulario Compra FonoTarot - {{app_name}}</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="https://clientes.fonotarot.com/assets/fonotarot/images/favicon.png" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="https://clientes.fonotarot.com/assets/fonotarot/css/bootstrap.min.css">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="https://clientes.fonotarot.com/assets/fonotarot/css/LineIcons.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="https://clientes.fonotarot.com/assets/fonotarot/css/magnific-popup.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="https://clientes.fonotarot.com/assets/fonotarot/css/slick.css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="https://clientes.fonotarot.com/assets/fonotarot/css/animate.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="https://clientes.fonotarot.com/assets/fonotarot/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="https://clientes.fonotarot.com/assets/fonotarot/css/style.css">

    <!--====== intl-tel-input ======-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/css/intlTelInput.css">
    <style>
      .iti { width: 100%; }
    </style>
  {% if google_ua %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{google_ua}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{google_ua}}');
  </script>
  {% endif %}


</head>

<body>
    
    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PRELOADER PART ENDS ======-->

    <!--====== NAVBAR PART START ======-->

    <section class="header-area">
        <div class="navbar-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="https://fonotarot.com">
                                <img src="https://clientes.fonotarot.com/assets/fonotarot/images/logo_fonotarot.png" alt="Logo">
                            </a>

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarEight" aria-controls="navbarEight" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarEight">
                                <ul class="navbar-nav ml-auto">
                  
                        <li class="nav-item">
                                        <a class="page-scroll" href="#home">INICIO</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#comprar">CARGAR MINUTOS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#portfolio">NUESTROS TAROTISTAS</a>
                  </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#contact">AYUDA</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="navbar-btn d-none mt-15 d-lg-inline-block">
                                <a class="menu-bar" href="#side-menu-right"><i class="lni-menu"></i></a>
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navbar area -->
         <div id="home" class="slider-area">
            <div class="bd-example">
                <div id="carouselOne" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselOne" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselOne" data-slide-to="1"></li>
                        <li data-target="#carouselOne" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="carousel-item bg_cover active" style="background-image: url(https://clientes.fonotarot.com/assets/fonotarot/images/slider-1.jpg)">
                            <div class="carousel-caption">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-xl-6 col-lg-7 col-sm-10">
                                            <h2 class="carousel-title">Conéctate con el Universo</h2>
                                            <ul class="carousel-btn rounded-buttons">
                                                <li><a class="main-btn rounded-three page-scroll" href="#comprar">CARGA MINUTOS AHORA!</a></li>
                                            </ul>
                                        </div>
                                    </div> <!-- row -->
                                </div> <!-- container -->
                            </div> <!-- carousel caption -->
                        </div> <!-- carousel-item -->

                        <div class="carousel-item bg_cover" style="background-image: url(https://clientes.fonotarot.com/assets/fonotarot/images/slider-2.jpg)">
                            <div class="carousel-caption">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-xl-6 col-lg-7 col-sm-10">
                                            <h2 class="carousel-title">Cárgate de energía positiva</h2>
                                            <ul class="carousel-btn rounded-buttons">
                                                <li><a class="main-btn rounded-three page-scroll" href="#comprar">CARGA MINUTOS AHORA!</a></li>
                                         
                                            </ul>
                                        </div>
                                    </div> <!-- row -->
                                </div> <!-- container -->
                            </div> <!-- carousel caption -->
                        </div> <!-- carousel-item -->

                        <div class="carousel-item bg_cover" style="background-image: url(https://clientes.fonotarot.com/assets/fonotarot/images/slider-3.jpg)">
                            <div class="carousel-caption">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-xl-6 col-lg-7 col-sm-10">
                                            <h2 class="carousel-title">El Universo tiene algo que decirte</h2>
                                            <ul class="carousel-btn rounded-buttons">
                                      <li><a class="main-btn rounded-three page-scroll" href="#comprar">CARGA MINUTOS AHORA!</a></li>
                                                
                                            </ul>
                                        </div>
                                    </div> <!-- row -->
                                </div> <!-- container -->
                            </div> <!-- carousel caption -->
                        </div> <!-- carousel-item -->
                    </div> <!-- carousel-inner -->

                    <a class="carousel-control-prev" href="#carouselOne" role="button" data-slide="prev">
                        <i class="lni-arrow-left-circle"></i>
                    </a>

                    <a class="carousel-control-next" href="#carouselOne" role="button" data-slide="next">
                        <i class="lni-arrow-right-circle"></i>
                    </a>
                </div> <!-- carousel -->
            </div> <!-- bd-example -->
        </div>

    </section>
        

    </section>

    <!--====== NAVBAR PART ENDS ======-->

    <!--====== SAIDEBAR PART START ======-->

    <div class="sidebar-right">
        <div class="sidebar-close">
            <a class="close" href="#close"><i class="lni-close"></i></a>
        </div>
        <div class="sidebar-content">
            <div class="sidebar-logo text-center">
                <a href="#"><img src="https://clientes.fonotarot.com/assets/fonotarot/images/logo_fonotarot.png" alt="Logo"></a>
            </div> <!-- logo -->
            <div class="sidebar-menu">
                <ul>
          <li><a href="#home" class="page-scroll">INICIO</a></li>
                    <li><a href="#comprar" class="page-scroll">CARGAR MINUTOS</a></li>
          <li><a href="#portfolio"class="page-scroll">NUESTROS TAROTISTAS</a></li>
                    <li><a href="#contact" class="page-scroll">AYUDA</a></li>
                </ul>
            </div> <!-- menu -->
            <div class="sidebar-social d-flex align-items-center justify-content-center">
                <span>SÍGUENOS</span>
                <ul>
                    <li><a href="https://www.instagram.com/tufonotarot/"><i class="lni-instagram-original"></i></a></li>
                    <li><a href="https://www.facebook.com/fonotarot"><i class="lni-facebook-filled"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCetAVx22UYfkaerpvV2pO6w"><i class="lni-youtube"></i></a></li>
                </ul>
            </div> <!-- sidebar social -->
        </div> <!-- content -->
    </div>
    <div class="overlay-right"></div>

    <!--====== SAIDEBAR PART ENDS ======-->
    
    <!--====== ABOUT PART START ======-->

    <section id="comprar" class="about-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <h2 class="section-title text-center pb-20">Habilitación Automática</h2>
          <p align="center">Completa el proceso de pago y tus minutos se habilitarán automáticamente.</p>
          <form action="{% url 'landing' %}" method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <input type="hidden" id="pais" name="pais" value="{{ default_country }}" autocomplete="off">
            <input type="hidden" name="parametros_extra" value="{{ parametros_extra }}" autocomplete="off">
            
            <div class="row g-3">
              <div class="col-sm-12">
                <label for="telefono" class="form-label">Teléfono</label>
                <input type="text" name="username" class="form-control" id="username" placeholder="Número telefónico o correo electronico" required autocomplete="on">
                <div class="invalid-feedback">
                  Debes ingresar tu número telefónico.
                </div>
              </div>
              <div class="col-md-12">
                <label for="producto" class="form-label">Bolsa de Minutos</label>
                <select class="form-select" id="producto" name="producto" required autocomplete="off">
                  <option value="">Seleccione minutos a comprar</option>
                  {% for producto in productos %}
                  <option value="{{ producto.id }}">{{ producto.descripcion }}</option>
                  {% endfor %}
                </select>
                <div class="invalid-feedback">
                  Debes seleccionar una Bolsa de Minutos.
                </div>
              </div>
              <div class="col-md-12">
                <label for="broker" class="form-label">Forma de Pago</label>
                <select class="form-select" id="broker" name="broker" required autocomplete="off">
                  <option value="">Seleccione forma de pago</option>
                  
                  {% for broker in formas_pago %}
                <option value="{{ broker.slug }}::{{ broker.nombre }}">{{ broker.nombre }}</option>
                {% endfor %}                  
                </select>
                <div class="invalid-feedback">
                  Debes seleccionar una Forma de Pago
                </div>
              </div>
        
      
        <div class="col-md-12">
              <hr class="my-4">
  

              <button class="w-100 btn btn-primary btn-lg" type="submit">Comprar</button>
        </div>
            </div>
          </form>
        </div>
      </div>
                    
        </div> <!-- container -->
    </section>

    <!--====== ABOUT PART ENDS ======-->
    
    <!--====== portfolio PART START ======-->

    <section id="portfolio" class="portfolio-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center pb-20">
                        <h3 class="title">Nuestros&nbsp; Tarotistas</h3>
                        <p class="text">Conoce a nuestros tarotistas.</p>
                    </div> <!-- row -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="row testimonial-active">
                        <div class="col-lg-4">
                            <div class="single-testimonial mt-30 mb-30 text-center">
                                <div class="testimonial-image">
                                    <img src="https://clientes.fonotarot.com/assets/fonotarot/images/ts_paulina.jpg" alt="Author">
                                </div>
                                <div class="testimonial-content">
                                    <p class="text">Paulina utiliza generalmente el Rider Waite y domina diferentes disciplinas como la numerología, la carta astral y la Medicina China. Utiliza el tarot como herramienta de auto-conocimiento y vínculo con el mundo espiritual. Su arcano personal es “LA LUNA”, con quién se siente representada ya que le permite ver el lado B de las cosas desde la realidad. Sumamente asertiva, sus experiencias personales y conocimiento en materias holísticas la ayudan a ser una buena consejera.</p>
                                    <h6 class="author-name">Paulina</h6>
                                    <span class="sub-title">Opción 1</span>
                                </div>
                            </div> <!-- single testimonial -->
                        </div>
                        <div class="col-lg-4">
                            <div class="single-testimonial mt-30 mb-30 text-center">
                                <div class="testimonial-image">
                                    <img src="https://clientes.fonotarot.com/assets/fonotarot/images/ts_elisa.jpg" alt="Author">
                                </div>
                                <div class="testimonial-content">
                                    <p class="text">Cinco años de experiencia leyendo el Tarot de Marsella y Rider Waite. Experta en tarot terapéutico y vidas pasadas. Se caracteriza por ser clara, directa y por creer que el tarot es una herramienta terapéutica que permite abrir caminos, encontrar soluciones y ser una guía para la toma de decisiones importantes.</p>
                                    <h6 class="author-name">Elisa</h6>
                                    <span class="sub-title">Opción 2</span>
                                </div>
                            </div> <!-- single testimonial -->
                        </div>
                        <div class="col-lg-4">
                            <div class="single-testimonial mt-30 mb-30 text-center">
                                <div class="testimonial-image">
                                    <img src="https://clientes.fonotarot.com/assets/fonotarot/images/ts_violeta.jpg" alt="Author">
                                </div>
                                <div class="testimonial-content">
                                    <p class="text">20 años lleva Violeta utilizando las cartas de Rider, Eliphas Levi y la de Marsella. Capta de inmediato el pulso emocional de la persona y se involucra plenamente con su sentir. Pone la información que entrega el tarot al servicio del consultante y le otorga la claridad y asertividad que necesita en su vida cotidiana. Su arcano personal es el Carro y se identifica con la fuerza de acción que lo caracteriza. Su confianza le permite enfrentar con tranquilidad y actitud positiva cualquier desafío que se le presente.</p>
                                    <h6 class="author-name">Violeta</h6>
                                    <span class="sub-title">Opción 15</span>
                                </div>
                            </div> <!-- single testimonial -->
                        </div>
                        <div class="col-lg-4">
                            <div class="single-testimonial mt-30 mb-30 text-center">
                                <div class="testimonial-image">
                                    <img src="https://clientes.fonotarot.com/assets/fonotarot/images/ts_veronica.jpg" alt="Author">
                                </div>
                                <div class="testimonial-content">
                                    <p class="text">Sincera y buena consejera, conoce los altos y bajos de la vida, muy experimentado en relaciones sentimentales, temas sexuales. Te ayudara a salir adelante y con sus consejos vas a poder enfrentar los obstáculos de tu vida.</p>
                                    <h6 class="author-name">Verónica</h6>
                                    <span class="sub-title">Opción 10</span>
                                </div>
                            </div> <!-- single testimonial -->
                        </div>
               <div class="col-lg-4">
                            <div class="single-testimonial mt-30 mb-30 text-center">
                                <div class="testimonial-image">
                                    <img src="https://clientes.fonotarot.com/assets/fonotarot/images/ts_alvaro.jpg" alt="Author">
                                </div>
                                <div class="testimonial-content">
                                    <p class="text">Alvaro desde muy pequeño demostró su capacidad interpretativa con las cartas, especialmente Marsella y Shakespeare. Además posee gran habilidad con las runas. Se caracteriza por su rápida y asertiva capacidad de identificar problemas y entregar los consejos que necesitas para enfrentarlos y solucionarlos. Su arcano personal es “EL SOL” que es la luz que disipa las dudas y la sinceridad que encierre su luminosidad. La intuición y comprensión son el fruto de sus tantos años de experiencia.</p>
                                    <h6 class="author-name">Álvaro</h6>
                                    <span class="sub-title">Opción 12</span>
                                </div>
                </div> <!-- single testimonial -->
                  
                    </div> <!-- row -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== portfolio PART ENDS ======-->
    
    <!--====== CONTACT TWO PART START ======-->

    
    <section id="contact" class="about-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center pb-20">
                        <h3 class="title">Estemos en Contacto</h3>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="contact-two mt-50 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.2s">
                        <h4 class="contact-title" align="center">Siempre que tengas dudas, llámanos</h4>
                        <p class="text" align="center">Estamos muy atentos a darte apoyo para cargar tus minutos y solucionar tus consultas de sistema.</p>
                        <ul class="contact-info">
                            <li><i class="lni-whatsapp"></i><a href="https://wa.me/56963349072" target="_blank"> +56 9 6334 9072 / WhatsApp</a></li>
                            <li><i class="lni-envelope"></i><a href="mailto:consultas@fonotarot.com" target="_blank">consultas@fonotarot.com</a></li>
                        </ul>
                    </div> <!-- contact two -->
                </div>
               
           
        </div> <!-- container -->
    </section>

    <!--====== CONTACT TWO PART ENDS ======-->
    
    <!--====== FOOTER FOUR PART START ======-->

    <footer id="footer" class="footer-area">
        
        <div class="footer-copyright">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="copyright text-center text-lg-left mt-10">
                            <p class="text">Desarrollado por <a style="color: #38f9d7" rel="nofollow" href="https://www.cerebrodigital.cl" target="_blank">Cerebro Digital</a></p>
                        </div> <!--  copyright -->
                    </div>
                    <div class="col-lg-2">
                        <div class="footer-logo text-center mt-10">
                            <a href="index.html"><img src="https://clientes.fonotarot.com/assets/fonotarot/images/fav_ftarot_57.png" alt="Logo"></a>
                        </div> <!-- footer logo -->
                    </div>
                    <div class="col-lg-5">
                        <ul class="social text-center text-lg-right mt-10">
                            <li><a href="https://www.facebook.com/fonotarot"><i class="lni-facebook-filled"></i></a></li>
                            <li><a href="https://www.instagram.com/tufonotarot/"><i class="lni-instagram-original"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCetAVx22UYfkaerpvV2pO6w"><i class="lni-youtube"></i></a></li>
                        </ul> <!-- social -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer copyright -->
    </footer>

    <!--====== FOOTER FOUR PART ENDS ======-->
    
    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->  

    <!--====== PART START ======-->



    <!--====== PART ENDS ======-->










    <!--====== jquery js ======-->
    <script src="https://clientes.fonotarot.com/assets/fonotarot/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="https://clientes.fonotarot.com/assets/fonotarot/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="https://clientes.fonotarot.com/assets/fonotarot/js/bootstrap.min.js"></script>
    <script src="https://clientes.fonotarot.com/assets/fonotarot/js/popper.min.js"></script>

    <!--====== Slick js ======-->
    <script src="https://clientes.fonotarot.com/assets/fonotarot/js/slick.min.js"></script>

    <!--====== Isotope js ======-->
    <script src="https://clientes.fonotarot.com/assets/fonotarot/js/isotope.pkgd.min.js"></script>

    <!--====== Images Loaded js ======-->
    <script src="https://clientes.fonotarot.com/assets/fonotarot/js/imagesloaded.pkgd.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="https://clientes.fonotarot.com/assets/fonotarot/js/jquery.magnific-popup.min.js"></script>

    <!--====== Scrolling js ======-->
    <script src="https://clientes.fonotarot.com/assets/fonotarot/js/scrolling-nav.js"></script>
    <script src="https://clientes.fonotarot.com/assets/fonotarot/js/jquery.easing.min.js"></script>

    <!--====== wow js ======-->
    <script src="https://clientes.fonotarot.com/assets/fonotarot/js/wow.min.js"></script>

    <!--====== Main js ======-->
    <script src="https://clientes.fonotarot.com/assets/fonotarot/js/main.js"></script>
    <script src="https://clientes.fonotarot.com/assets/fonotarot/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
  (function () {
  'use strict'
  const forms = document.querySelectorAll('.needs-validation')
  Array.from(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
        form.classList.add('was-validated')
      }, false)
    })
  })()
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/intlTelInput.min.js"></script>
<script type="text/javascript">
var input = document.querySelector("#username");
var iti = window.intlTelInput(input, {
    initialCountry: "{{ default_country }}",
    hiddenInput: "telefono_e164",
    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/utils.js",
    geoIpLookup: function(callback) {
        $.get('https://ipinfo.io', function() {}, "jsonp").always(function(resp) {
          var countryCode = (resp && resp.country) ? resp.country : "cl";
          callback(countryCode);
        });
    },
});
input.addEventListener("countrychange", function() {
    document.querySelector("#pais").value = iti.getSelectedCountryData().iso2;
});
</script>
</body>

</html>
