@charset "UTF-8";
/*!
 * Fonotarot Portal 0.2.1 Cthulhu 2.0
 * Copyright 2011-2023 mariofix
 * Licensed under MIT
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f5f5f5;
  background: url("/static/zvn/tarot.webp") no-repeat center center fixed;
  display: flex;
  align-items: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.container {
  margin: 20px auto;
  width: 800px;
  padding: 30px;
}

.card.box1 {
  width: 350px;
  height: 500px;
  background-color: #7952b3;
  color: #fff;
  border-radius: 0;
}

.card.box2 {
  width: 450px;
  height: 580px;
  background-color: #ffffff;
  border-radius: 0;
}

.text {
  font-size: 13px;
}

.box2 .btn.btn-primary.bar {
  width: 20px;
  background-color: transparent;
  border: none;
  color: #3ecc6d;
}

.box2 .btn.btn-primary.bar:hover {
  color: #baf0c3;
}

.box1 .btn.btn-primary {
  background-color: #7952b3;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
}

.box1 .btn.btn-primary:hover {
  background-color: #f6f8f7;
  color: #57c97d;
}

.btn.btn-success {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.nav.nav-tabs {
  border: none;
  border-bottom: 2px solid #ddd;
}

.nav.nav-tabs .nav-item .nav-link {
  border: none;
  color: black;
  border-bottom: 2px solid transparent;
  font-size: 14px;
}

.nav.nav-tabs .nav-item .nav-link:hover {
  border-bottom: 2px solid #3ecc6d;
  color: #05cf48;
}

.nav.nav-tabs .nav-item .nav-link.active {
  border: none;
  border-bottom: 2px solid #3ecc6d;
}

.form-control {
  border: none;
  border-bottom: 1px solid #ddd;
  box-shadow: none;
  height: 20px;
  font-weight: 600;
  font-size: 14px;
  padding: 15px 0px;
  letter-spacing: 1.5px;
  border-radius: 0;
}

.inputWithIcon {
  position: relative;
}

img {
  width: 50px;
  height: 20px;
  object-fit: cover;
}

.inputWithIcon span {
  position: absolute;
  right: 0px;
  bottom: 9px;
  color: #57c97d;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
}

.form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid #ddd;
}

.btn-outline-primary {
  color: black;
  background-color: #ddd;
  border: 1px solid #ddd;
}

.btn-outline-primary:hover {
  background-color: #05cf48;
  border: 1px solid #ddd;
}

.btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
  color: #baf0c3;
  background-color: #7952b3;
  box-shadow: none;
  border: 1px solid #ddd;
}

.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:first-child) > .btn,
.btn-group > .btn:nth-child(n + 3),
.btn-group > :not(.btn-check) + .btn {
  border-radius: 50px;
  margin-right: 20px;
}

form {
  font-size: 14px;
}

form .btn.btn-primary {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7952b3;
  border: 1px solid #ddd;
}

form .btn.btn-primary:hover {
  background-color: #05cf48;
}

@media (max-width: 750px) {
  .container {
    padding: 10px;
    width: 100%;
  }

  .text-green {
    font-size: 14px;
  }

  .card.box1,
  .card.box2 {
    width: 100%;
  }

  .nav.nav-tabs .nav-item .nav-link {
    font-size: 12px;
  }
}
.iti {
  width: 98%;
}
