<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Formulario de pago para AloTarot.cl">
  <meta name="author" content="{{app_name}}">
  <title>Checkout AloTarot - {{app_name}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <style>
  .container {
    max-width: 960px;
  }
  </style>
</head>
<body class="bg-light">    
<div class="container">
  <main>
    <div class="py-5 text-center">
      <p class="pb-2 border-bottom text-center fw-bold h4" style="color: indigo;">Confirma tu Compra</p>
    </div>
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Producto</span>
          <span class="badge bg-primary rounded-pill">1</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">{{ producto.descripcion }}</h6>
            </div>
            <span class="text-muted">{{ producto.valor|floatformat:"0" }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total ({{ producto.moneda }})</span>
            <strong>{{ producto.valor|floatformat:"0" }}</strong>
          </li>
        </ul>

        <form class="card p-2" action="#" method="post">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Código Promocional">
            <button type="button" class="btn btn-secondary">Aplicar</button>
          </div>
        </form>
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3"><span class="badge" style="background-color: indigo;">Información Compra</span></h4>

        <form class="needs-validation" novalidate action="/confirm/" method="post">
          <div class="row g-3">
            <div class="col-sm-12">
              <label for="firstName" class="form-label">Nombre <span class="text-muted">(Opcional)</span></label>
              <input type="text" class="form-control" id="firstName" name="nombre">
              <input type="hidden" name="parametros_extra" value="{{ parametros_extra }}">
              {% csrf_token %}
            </div>
            <div class="col-12">
              <label for="telefono" class="form-label">Telefóno</label>
              <input type="number" min="200000000" max="999999999" class="form-control" id="telefono" name="telefono" value="{{ telefono }}" {% if custid > 0 %}readonly="readonly"{% endif %}>
              <div class="invalid-feedback">
                  Debes ingresar tu teléfono, este debe tener 9 digitos exactos. ej: (+56) <b>987654321</b>.
                </div>
            </div>
            <div class="col-12">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" id="email" name="email" value="{{correo}}" required>
              <div class="invalid-feedback">
                Por favor ingrese un correo electrónico.
              </div>
            </div>
          </div>
          <hr class="my-4">
          <button class="w-100 btn btn-primary btn-lg" type="submit" id="pagar">Pagar con {{ broker_name }}</button>
          <small class="text-muted"><a href="{% url "formulario_compra" %}">&lt;-- Cancelar compra y volver al inicio</a></small>
        </form>
      </div>
    </div>
  </main>
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; {% now "Y" %} AloTarot</p>
  </footer>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
  (function () {
  'use strict'
  const forms = document.querySelectorAll('.needs-validation')
  Array.from(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
          form.classList.add('was-validated')
          return;
        }
        event.preventDefault()
        event.stopPropagation()
        $("#pagar").prop('disabled', true)
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const correo = document.querySelector('[name=email]').value;
        const telefono = document.querySelector('[name=telefono]').value;
        const extra = document.querySelector('[name=parametros_extra]').value;
        const pack = "{{sign}}";
        var jqxhr = $.ajax({
          method:'PUT', 
          url:'{% url "formulario_compra" %}', 
          data: {pack: pack, correo: correo, telefono: telefono, extra: extra},
          headers: {
            "X-CSRFToken": csrftoken
          }
          })
          .done(function(data, textStatus, jqXHR) {
            $("#pagar").prop('disabled', false)
            window.location.href=data.url;
          })
          .fail(function( jqXHR, textStatus, errorThrown) {
            $("#pagar").prop('disabled', false)
            Swal.fire({
              title: 'Error',
              text: 'Ocurrió un problema al generar su pago, por favor intente nuevamente.',
              icon: 'error',
              confirmButtonText: "Reintentar"
            })
            .then((result) => {
              if (result.isConfirmed) {
                window.location.href='{% url "formulario_compra" %}';
              }
            });
          })
      }, false)
    })
  })()
</script>
</body>
</html>