<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="generator" content="">
    <title>Ultimo paso</title>
    <link rel="canonical" href="">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--====== intl-tel-input ======-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/css/intlTelInput.css">
    <meta name="theme-color" content="#7952b3">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        html, body {
          height: 100%;
        }

        body {

            background: url('{{fondo}}') no-repeat center center fixed;
          display: flex;
          align-items: center;
          padding-top: 40px;
          padding-bottom: 40px;
          -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;background-color: #f5f5f5;
        }

        .form-signin {
          width: 100%;
          max-width: 330px;
          padding: 15px;
          margin: auto;
        }

        .form-signin .checkbox {
          font-weight: 400;
        }

        .form-signin .form-floating:focus-within {
          z-index: 2;
        }

        .form-signin input[type="email"] {
          margin-bottom: -1px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }

        .form-signin input[type="text"] {
          margin-bottom: -1px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
          margin-bottom: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
        .iti { width: 100%; }
    </style>    
  </head>
  <body class="text-center">
    
<main class="form-signin">
  <form action="" method="get" novalidate class="needs-validation">
    <input type="text" class="form-control" placeholder="{{ campana.producto.nombre }}" readonly>
    <br>
    <div class="form-floating">
      <label for="cust_email">Correo Electronico</label>
      <input type="email" name="cust_email" class="form-control" id="cust_email" placeholder="Correo Electronico" autocomplete="email">
    </div>
    
    {% for k,v in GET.items %}
    <input type="hidden" name="{{k}}" value="{{v}}">
    {% endfor -%}
    <input type="hidden" id="pais" name="pais" value="{{ default_country }}" autocomplete="off">
    <div class="mb-3"></div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Continuar</button>
    <p class="mt-5 mb-3 text-muted">&copy; Fonotarot LLC  - 2022</p>
  </form>
</main>

<script src="https://clientes.fonotarot.com/assets/fonotarot/js/vendor/jquery-1.12.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/intlTelInput.min.js"></script>
<script type="text/javascript">
var input = document.querySelector("#cust_email");
var iti = window.intlTelInput(input, {
    initialCountry: "{{ default_country }}",
    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/utils.js",
    geoIpLookup: function(callback) {
        $.get('https://ipinfo.io', function() {}, "jsonp").always(function(resp) {
          var countryCode = (resp && resp.country) ? resp.country : "cl";
          document.querySelector("#pais").value = countryCode;
          callback(countryCode);
        });
    },
});
input.addEventListener("countrychange", function() {
    document.querySelector("#pais").value = iti.getSelectedCountryData().iso2;
});
</script>
    
</body>
</html>
