{% extends 'core/template_base.html' %}
{% load i18n %}
{% block title%}Comprar Minutos{% endblock %}

{% block maincontent %}
<article class="content lista-formularios">
    <section class="section">
        <div class="row">
            {% for form in formularios %}
            <div class="col-xl-4">
                <div class="card card-{{ form.color }}">
                    <div class="card-header">
                        <div class="header-block">
                            <p class="title"> {{ form.nombre }} </p>
                        </div>
                    </div>
                    <div class="card-block">
                        <p>{{ form.descripcion }}</p>
                    </div>
                    <div class="card-footer"> <a href="{{ form.dominio }}" class="btn btn-{{ form.color }}-outline">Comprar</a> </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</article>
{% endblock %}
