{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pagina de pago fonotarot desde wordpress">
    <meta name="author" content="mariofix">
    <meta name="generator" content="fonotarot-portal/0.2.2 cthulhu/2.0.1">
    <title>Wordpress Checkout</title>
    <link rel="canonical" href="https://fonotarot.com">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/css/intlTelInput.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" integrity="sha256-sWZjHQiY9fvheUAOoxrszw9Wphl3zqfVaz1kZKEvot8=" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'zvn/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'zvn/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'zvn/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'zvn/site.webmanifest' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css" integrity="sha512-SgaqKKxJDQ/tAUAAXzvxZz33rmn7leYDYfBP+YoMRSENhf3zJyx3SBASt/OfeQwBHA1nxMis7mM3EV/oYT6Fdw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css" integrity="sha512-9YHSK59/rjvhtDcY/b+4rdnl0V4LPDWdkKceBl8ZLF5TB6745ml1AfluEU6dFWqwDw9lPvnauxFgpKvJqp7jiQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'zvn/css/wp-checkout.css' %}">
{% if origen.formulario.google_tag %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{origen.formulario.google_tag}}');</script>
    <!-- End Google Tag Manager -->
{% endif %}
{% if origen.formulario.google_ua %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{origen.formulario.google_ua}}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{origen.formulario.google_ua}}');
    </script>
{% endif %}
{% if origen.formulario.matomo_id %}
    <!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://matomo.mariofix.com/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '{{origen.formulario.matomo_id}}']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
{% endif %}
</head>
<body>
{% if origen.formulario.google_tag %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{origen.formulario.google_tag}}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endif %}
{% if origen.formulario.matomo_id %}
    <!-- Matomo (noscript) -->
<noscript><p><img src="https://matomo.mariofix.com/matomo.php?idsite={{origen.formulario.matomo_id}}&amp;rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo Code -->
{% endif %}
<div class="container bg-light d-md-flex align-items-center">
    <div class="card box1 shadow-sm p-md-5 p-md-5 p-4">
        <div class="fw-bolder mb-4"><span class="bi bi-currency-dollar"></span><span class="ps-1">{{ origen.producto.nombre }}</span></div>
        <div class="d-flex flex-column">
            <div class="d-flex align-items-center justify-content-between text mb-4"> <span>Monto</span> <span class="bi bi-currency-dollar"><span class="ps-1">{{ origen.producto.valor }}</span></span>
            </div>
            <div class="border-bottom mb-4"></div>
            <div class="d-flex flex-column mb-3"> <span class="bi bi-calendar3"><span class="ps-2">Fecha Compra:</span></span> <span class="ps-3">{% now "d-m-Y" %}</span> </div>
            <div class="d-flex flex-column mb-5"> <span class="bi bi-clock text"><span class="ps-2">Hora Compra:</span></span> <span class="ps-3">{% now "H:i" %}</span> </div>
            <div class="d-flex align-items-center justify-content-between text mt-5">
                <div class="d-flex flex-column text"> <span>Necesitas Ayuda?</span> <span>Escribenos!</span> </div>
                <div class="btn btn-success rounded-circle"><a href="https://web.whatsapp.com/send?phone=56997263037&text=Hola%20FonoTarot%2C%20tengo%20un%20problema%20con%20mi%20pago:%20"><span class="bi bi-question-lg" ></span></a></div>
            </div>
        </div>
    </div>
    <div class="card box2 shadow-sm">
        <div class="d-flex align-items-center justify-content-between p-md-5 p-4">
            <span class="h5 fw-bold m-0">Pagar FonoTarot</span>
        </div>
        <form action="#" id="checkout-form" class="needs-validation" novalidate method="post">
        <input type="hidden" id="pais" name="pais" value="{{ default_country }}" autocomplete="off">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column px-md-5 px-4 mb-4"> <span>Nombre</span>
                    <div class="inputWithIcon"> <input class="form-control text-uppercase" required type="text" autocomplete="name" name="nombre" > <span class="bi bi-person"></span> </div>
                </div>
            </div>
            <div class="col-12">
                <div class="d-flex flex-column px-md-5 px-4 mb-4"> <span>Correo Electrónico</span>
                    <div class="inputWithIcon"> <input class="form-control text-uppercase iti" type="text" required name="correo" id="cust_email" autocomplete="email"> <span class="bi bi-at"></span> </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs nav-underline mb-3 px-md-4 px-2 nav-fill nav-justified" id="formas_pago" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link px-2 active" id="stripe-tab" data-bs-toggle="tab" data-bs-target="#stripe-tab-pane" type="button" role="tab" aria-controls="stripe-tab-pane" aria-selected="true"><i class="bi bi-stripe"></i> Stripe</button> 
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link px-2" id="paypal-tab" data-bs-toggle="tab" data-bs-target="#paypal-tab-pane" type="button" role="tab" aria-controls="paypal-tab-pane" aria-selected="false"><i class="bi bi-paypal"></i> Paypal</button> 
            </li>
        </ul>
        <div class="tab-content" id="formas_pago_cont">
            <div class="tab-pane fade show active" id="stripe-tab-pane" role="tabpanel" aria-labelledby="stripe-tab" tabindex="0">
                <div class="col-12 px-md-5 px-4 mt-5">
                    <p clas="text">A continuacion será transferido al sitio de Stripe para finalizar su pago.</p>
                    <p class="text mb-4">Tarjetas Habilitadas: <i class="fa-brands fa-cc-visa fa-2xl"></i> <i class="fa-brands fa-cc-mastercard fa-2xl"></i> <i class="fa-brands fa-cc-amex fa-2xl"></i></p>
                    <button type="submit" role="button" id="btn-submit-stripe" class="btn btn-primary w-100 boton-pago">Pagar {{ origen.producto.moneda }} {{ origen.producto.valor }}</button>
                </div>
            </div>
            <div class="tab-pane fade" id="paypal-tab-pane" role="tabpanel" aria-labelledby="paypal-tab" tabindex="0">
                <div class="col-12 px-md-5 px-4 mt-5">
                    <p clas="text">A continuacion será transferido al sitio de Paypal para finalizar su pago.</p>
                    <p class="text mb-4">Tarjetas Habilitadas: <i class="fa-brands fa-cc-visa fa-2xl"></i> <i class="fa-brands fa-cc-mastercard fa-2xl"></i>  <i class="fa-brands fa-cc-diners-club fa-2xl"></i> <i class="fa-brands fa-cc-amex fa-2xl"></i>  </p>

                    <div class="d-grid gap-2">
                        <button class="btn btn-warning btn-lg boton-pago" id="btn-submit-paypal" type="submit" role="button" style="display: flex; align-items: center;">
                            Paga con <img class="mx-auto d-block" alt="Pagar con PayPal" src="{% static 'zvn/boton-paypal-amarillo.png' %}" width="144">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/intlTelInput.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js" integrity="sha256-t0FDfwj/WoMHIBbmFfuOtZv1wtA977QCfsFR3p1K4No=" crossorigin="anonymous"></script>
<script type="text/javascript">
var input = document.querySelector("#cust_email");
var iti = window.intlTelInput(input, {
    initialCountry: "{{ default_country }}",
    autoPlaceholder: "off",
    preferredContries: ["cl", "pe", "ar", "mx", "us"],
    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/utils.js",
    geoIpLookup: function(callback) {
        $.get('https://ipinfo.io', function() {}, "jsonp").always(function(resp) {
          var countryCode = (resp && resp.country) ? resp.country : "cl";
          document.querySelector("#pais").value = countryCode;
          callback(countryCode);
        });
    },
});
input.addEventListener("countrychange", function() {
    document.querySelector("#pais").value = iti.getSelectedCountryData().iso2;
});
</script>
<script type="text/javascript">
const forms = document.querySelectorAll('.needs-validation');
Array.from(forms).forEach(function (form) {
    form.addEventListener('submit', function (event) {
        event.preventDefault();
        event.stopPropagation();
        boton_submit(true);
        if (!form.checkValidity()) {
            form.classList.add('was-validated');
            boton_submit(false);
            return false;
        }
        form.classList.add('was-validated');
        const datos_submit = event.submitter.id.split("-")
        let broker = datos_submit[2];
        inicia_pago(broker);
    }, false)
});

function boton_submit(disabled) {
    let botones_submit = document.querySelectorAll('.boton-pago');
    Array.from(botones_submit).forEach(function(boton){
        boton.disabled = disabled;
    });
}
function inicia_pago(via) {
    let pais = document.querySelector("#checkout-form input[name='pais']");
    let nombre = document.querySelector("#checkout-form input[name='nombre']");
    let correo = document.querySelector("#checkout-form input[name='correo']");
    let qs = "{{ qs }}";
    let product = "{{ origen.producto.slug }}";
    let data = {
        correo: correo.value, 
        nombre: nombre.value, 
        pais: pais.value, 
        broker: via, 
        product: product,
        qs: qs
    };
    console.log(data);
    let app = Swal.fire({
        title: "Procesando su pago",
        iconColor: "#ffffff",
        iconHtml: '<object type="image/svg+xml" data="{% static 'zvn/loader.svg' %}"></object>',
        showCancelButton: true,
        cancelButtonText: "Cerrar",
        showConfirmButton: false,
        allowOutsideClick: false,
        didOpen: (payment) => {
            return fetch("{% url "process_payment" servicio=origen.formulario.servicio.slug formulario=origen.formulario.fid %}", {
                method:"PUT", 
                cache: "no-cache", 
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            }).then(response => {
                if (!response.ok) {
                  throw new Error(response.statusText);
                }
                response.json().then((datos) => {
                    boton_submit(false);
                    if (datos.url == undefined) {
                        Swal.showValidationMessage("No se pudo procesar su pago. Por favor intentelo nuevamente.");
                        throw new Error("`url` not present");
                    }
                    console.log(datos);
                    window.location.href=datos.url;
                });
            }).catch(error => {
                boton_submit(false);
                Swal.showValidationMessage("No se pudo procesar su pago. Por favor intentelo nuevamente.");
            });
        },
    });
}
</script>
</body>
</html>