{% extends 'core/template_base.html' %}
{% load i18n %}
{% block title%}Mis Telefonos{% endblock %}

{% block maincontent %}
<article class="content lista-telefonos">
    <div class="title-block">
        <h1 class="title"> Mis Teléfonos </h1>
        <p class="title-description"> Puedes agregar telefonos adicionales aqui. </p>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <section class="example">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Teléfono</th>
                                            <th>Fecha Creación</th>
                                            <th>Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for tel in telefonos %}
                                        <tr>
                                            <td>{{ tel.numero }}</td>
                                            <td>{{ tel.creado }}</td>
                                            <td><a href="{% url 'elimina_telefono' telefono_num=tel.numero %}">x</a></td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td colspan="2"><input type="number" class="form-control" id="nuevo_telefono_input"></td>
                                            <td><button type="button" class="btn btn-info" id="agregar">Agregar</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}

{% block js_scripts %}
<script>
    $(function() {
        $("#agregar").on("click", function() {
            telefono = $("#nuevo_telefono_input").val();
            if (telefono < 200000000) {
                alert("Numero Invalido");
                return 1;
            }
            if (telefono > 999999999) {
                alert("Numero Invalido");
                return 1;
            }
            BASE_URL = "{% url 'agrega_telefono' telefono_num=111 %}";
            REDIRECT = BASE_URL.replace("111", telefono);
            document.location.href = REDIRECT;
        });
    });
</script>
{% endblock %}