<li>
    <a href="{% url 'seleccion_formulario_interno' %}">
        <i class="fa fa-money"></i> Comprar Bolsas 
    </a>
    <a href="{% url 'telefonos' %}">
        <i class="fa fa-phone"></i> Mis Telefonos 
    </a>

</li>