{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Checkout Fonotarot">
    <meta name="author" content="mariofix">
    <meta name="generator" content="fonotarot-portal/2024.4.1 cthulhu/2.0.1">
    <title>{{ info.nombre }} | {{ app_name }}</title>
    <link rel="canonical" href="https://fonotarot.com">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" integrity="sha256-sWZjHQiY9fvheUAOoxrszw9Wphl3zqfVaz1kZKEvot8=" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'zvn/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'zvn/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'zvn/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'zvn/site.webmanifest' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css" integrity="sha512-SgaqKKxJDQ/tAUAAXzvxZz33rmn7leYDYfBP+YoMRSENhf3zJyx3SBASt/OfeQwBHA1nxMis7mM3EV/oYT6Fdw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css" integrity="sha512-9YHSK59/rjvhtDcY/b+4rdnl0V4LPDWdkKceBl8ZLF5TB6745ml1AfluEU6dFWqwDw9lPvnauxFgpKvJqp7jiQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'zvn/css/wp-checkout.css' %}">
{% if origen.formulario.google_tag %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{origen.formulario.google_tag}}');</script>
    <!-- End Google Tag Manager -->
{% endif %}
</head>
<body>

<div class="container bg-light d-md-flex align-items-center">
    <div class="card box1 shadow-sm p-md-5 p-md-5 p-4">
        <div class="fw-bolder mb-4"><span class="bi bi-currency-dollar"></span><span class="ps-1">{{ producto.nombre }}</span></div>
        <div class="d-flex flex-column">
            <div class="d-flex align-items-center justify-content-between text mb-4"> <span>Monto</span> <span class="bi bi-currency-dollar"><span class="ps-1">{{ producto.valor }}</span></span>
            </div>
            <div class="border-bottom mb-4"></div>
            <div class="d-flex flex-column mb-3"> <span class="bi bi-calendar3"><span class="ps-2">Fecha Compra:</span></span> <span class="ps-3">{% now "d-m-Y" %}</span> </div>
            <div class="d-flex flex-column mb-5"> <span class="bi bi-clock text"><span class="ps-2">Hora Compra:</span></span> <span class="ps-3">{% now "H:i" %}</span> </div>
            <div class="d-flex align-items-center justify-content-between text mt-5">
                <div class="d-flex flex-column text"> <span>Necesitas Ayuda?</span> <span>Escribenos!</span> </div>
                <div class="btn btn-success rounded-circle"><a href="https://web.whatsapp.com/send?phone=56997263037&text=Hola%20FonoTarot%2C%20tengo%20un%20problema%20con%20mi%20pago:%20"><span class="bi bi-question-lg" ></span></a></div>
            </div>
        </div>
    </div>
    <div class="card box2 shadow-sm">
        <div class="d-flex align-items-center justify-content-between p-md-5 p-4">
            <span class="h5 fw-bold m-0">Pagar {{ info.nombre }}</span>
        </div>
        <form action="#" id="checkout-form" class="needs-validation" novalidate method="post">
        {% csrf_token %}
        <input type="hidden" id="pais" name="pais" value="cl" autocomplete="off">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column px-md-5 px-4 mb-4"> <span>Nombre</span>
                    <div class="inputWithIcon"> <input class="form-control text-uppercase" required type="text" autocomplete="name" name="nombre" > <span class="bi bi-person"></span> </div>
                </div>
            </div>
            <div class="col-12">
                <div class="d-flex flex-column px-md-5 px-4 mb-4"> <span>Número Teléfono</span>
                    <div class="inputWithIcon"> <input class="form-control text-uppercase" type="tel" required name="telefono" autocomplete="phone" placeholder="+56" minlength="9" maxlength="9"> <span class="bi bi-phone"></span> </div>
                </div>
            </div>
            <div class="col-12">
                <div class="d-flex flex-column px-md-5 px-4 mb-4"> <span>Correo Electrónico</span>
                    <div class="inputWithIcon"> <input class="form-control text-uppercase" type="email" required name="email" autocomplete="email"> <span class="bi bi-at"></span> </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs nav-underline mb-3 px-md-4 px-2 nav-fill nav-justified" id="formas_pago" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link px-2 active" id="flow-tab" data-bs-toggle="tab" data-bs-target="#flow-tab-pane" type="button" role="tab" aria-controls="flow-tab-pane" aria-selected="true"><i class="bi bi-chevron-double-down"></i> Flow</button> 
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link px-2" id="khipu-tab" data-bs-toggle="tab" data-bs-target="#khipu-tab-pane" type="button" role="tab" aria-controls="khipu-tab-pane" aria-selected="false"><i class="bi bi-bank"></i> Khipu</button> 
            </li>
        </ul>
        <div class="tab-content" id="formas_pago_cont">
            <div class="tab-pane fade show active" id="flow-tab-pane" role="tabpanel" aria-labelledby="flow-tab" tabindex="0">
                <div class="col-12 px-md-5 px-4 mt-5">
                    <p clas="text">A continuacion será transferido al sitio de Flow para finalizar su pago, donde podrá seleccionar uno de los medios de pago.</p>
                    <p class="text mb-4"><img src="{% static 'zvn/img/webpay60.png' %}" class="img-fluid img-thumbnail" /><img src="{% static 'zvn/img/onepay60.png' %}" class="img-fluid img-thumbnail" /><img src="{% static 'zvn/img/mach60.png' %}" class="img-fluid img-thumbnail" /><img src="{% static 'zvn/img/servipag60v2.png' %}" class="img-fluid img-thumbnail" /><img src="{% static 'zvn/img/klap.png' %}" class="img-fluid img-thumbnail" /><img src="{% static 'zvn/img/check60.png' %}" class="img-fluid img-thumbnail" /></p>
                    <button type="submit" role="button" id="btn-submit-flow" class="btn btn-primary boton-pago btn-lg"><span>Pagar con <img src="{% static 'zvn/img/logo-flow.svg' %}" class="img-fluid img-thumbnail" /></span></button>
                </div>
            </div>
            <div class="tab-pane fade" id="khipu-tab-pane" role="tabpanel" aria-labelledby="khipu-tab" tabindex="0">
                <div class="col-12 px-md-5 px-4 mt-5">
                    <p clas="text">A continuacion será transferido al sitio de Khipu para finalizar su pago con transferencia bancaria.</p>

                    <div class="d-grid gap-2">
                        <button type="submit" role="button" id="btn-submit-khipu" class="btn btn-primary boton-pago btn-lg"><span>Pagar con <img src="{% static 'zvn/img/logo-khipu-color.svg' %}" class="img-fluid img-thumbnail" /></span></button>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js" integrity="sha256-t0FDfwj/WoMHIBbmFfuOtZv1wtA977QCfsFR3p1K4No=" crossorigin="anonymous"></script>

<script type="text/javascript">
const forms = document.querySelectorAll('.needs-validation');
Array.from(forms).forEach(function (form) {
    form.addEventListener('submit', function (event) {
        event.preventDefault();
        event.stopPropagation();
        boton_submit(true);
        if (!form.checkValidity()) {
            form.classList.add('was-validated');
            boton_submit(false);
            return false;
        }
        form.classList.add('was-validated');
        const datos_submit = event.submitter.id.split("-")
        let broker = datos_submit[2];
        inicia_pago(broker);
    }, false)
});

function boton_submit(disabled) {
    let botones_submit = document.querySelectorAll('.boton-pago');
    Array.from(botones_submit).forEach(function(boton){
        boton.disabled = disabled;
    });
}
function inicia_pago(via) {
    let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]');
    let pais = document.querySelector("#checkout-form input[name='pais']");
    let nombre = document.querySelector("#checkout-form input[name='nombre']");
    let correo = document.querySelector("#checkout-form input[name='correo']");
    let qs = "{{ qs }}";
    let product = "{{ producto.slug }}";
    let data = {
        correo: correo.value, 
        nombre: nombre.value, 
        pais: pais.value, 
        broker: via, 
        product: product,
        qs: qs
    };
    
    let app = Swal.fire({
        title: "Procesando su pago",
        iconColor: "#ffffff",
        iconHtml: '<object type="image/svg+xml" data="{% static 'zvn/loader.svg' %}"></object>',
        showCancelButton: true,
        cancelButtonText: "Cerrar",
        showConfirmButton: false,
        allowOutsideClick: false,
        didOpen: (payment) => {
            return fetch("", {
                method:"POST", 
                cache: "no-cache", 
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrftoken.value
                },
                body: JSON.stringify(data)
            }).then(response => {
                if (!response.ok) {
                  throw new Error(response.statusText);
                }
                response.json().then((datos) => {
                    boton_submit(false);
                    if (datos.url == undefined) {
                        Swal.showValidationMessage("No se pudo procesar su pago. Por favor intentelo nuevamente.");
                        throw new Error("`url` not present");
                    }
                    console.log(datos);
                    window.location.href=datos.url;
                });
            }).catch(error => {
                boton_submit(false);
                Swal.showValidationMessage("No se pudo procesar su pago. Por favor intentelo nuevamente.");
            });
        },
    });
}
</script>
</body>
</html>