{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Pagina de pago fonotarot desde wordpress"
    />
    <meta name="author" content="mariofix" />
    <meta name="generator" content="fonotarot-portal/2024.6.0 cthulhu/2.0.1" />
    <title>Compra Minutos {{ tienda.nombre }} - {{app_name}}</title>
    <link rel="canonical" href="https://fonotarot.com" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'zvn/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'zvn/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'zvn/favicon-16x16.png' %}"
    />
    <link rel="manifest" href="{% static 'zvn/site.webmanifest' %}" />

    <!-- CSS files -->
    <link
      href="{% static 'zvn/tabler/css/tabler.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'zvn/tabler/css/tabler-flags.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'zvn/tabler/css/tabler-payments.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'zvn/tabler/css/tabler-vendors.min.css' %}"
      rel="stylesheet"
    />
    <style>
      :root {
        --tblr-font-sans-serif: Roboto, Helvetica Neue, sans-serif;
      }
      body {
        background: url("{% static 'zvn/tarot.jpg' %}") no-repeat center center
          fixed !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        background-size: cover !important;
        -o-background-size: cover !important;
      }
    </style>
  </head>
  <body>
    <div class="page">
      <!-- Navbar -->
      <header class="navbar navbar-expand d-print-none">
        <div class="container">
          <h1
            class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3"
          >
            <a href="{% url 'tiendas' info.slug %}"> {{ info.nombre }} </a>
          </h1>
          <div class="navbar-nav flex-row order-md-last">
            <div class="md-flex">
              <a
                class="btn btn-ghost-primary btn-icon"
                data-bs-toggle="offcanvas"
                href="#offcanvasEnd"
                role="button"
                aria-controls="offcanvasEnd"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-zodiac-virgo"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M3 4a2 2 0 0 1 2 2v9" />
                  <path d="M5 6a2 2 0 0 1 4 0v9" />
                  <path d="M9 6a2 2 0 0 1 4 0v10a7 5 0 0 0 7 5" />
                  <path d="M12 21a7 5 0 0 0 7 -5v-2a3 3 0 0 0 -6 0" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </header>
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasEnd"
        aria-labelledby="offcanvasEndLabel"
      >
        <div class="offcanvas-body">
          <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab
            assumenda ea est, eum exercitationem fugiat illum itaque laboriosam
            magni necessitatibus, nemo nisi numquam quae reiciendis repellat sit
            soluta unde. Aut!
          </div>
        </div>
      </div>
      <div class="page-wrapper">
        <!-- Page body -->
        <div class="page-body">
          <div class="container">
            <div class="row row-cards rounded-5">
              <div class="col-sm-12 col-lg-12">
                <div class="card">
                  <div class="card-status-top bg-purple"></div>
                  <div class="card-body">
                    <p class="text-secondary">{{ bajada|safe }}</p>
                  </div>
                </div>
              </div>
              {% for producto in productos %} {% if producto.destacado %}
              <div class="col-sm-12 col-lg-3">
                <div class="card card-md">
                  <div class="ribbon ribbon-top ribbon-bookmark bg-green">
                    <!-- Download SVG icon from http://tabler-icons.io/i/star -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-filled"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                      />
                    </svg>
                  </div>
                  <div class="card-body text-center">
                    <div class="text-uppercase text-muted font-weight-medium">
                      {{ producto.nombre }}
                    </div>
                    <div class="display-5 fw-bold my-3">
                      ${{ producto.valor|floatformat:0 }}
                    </div>
                    <ul class="list-unstyled lh-lg">
                      <li><strong>15</strong> tarotistas de primer nivel.</li>
                      <li>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon me-1 text-success"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M5 12l5 5l10 -10" />
                        </svg>
                        Llama desde cualquier número.
                      </li>
                    </ul>
                    <div class="text-center mt-4">
                      <a
                        href="{% url 'producto' tienda producto.slug %}"
                        class="btn btn-green w-100"
                        >Comprar</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              {% else %}
              <div class="col-sm-12 col-lg-3">
                <div class="card card-md">
                  <div class="card-body text-center">
                    <div class="text-uppercase text-muted font-weight-medium">
                      {{ producto.nombre }}
                    </div>
                    <div class="display-5 fw-bold my-3">
                      ${{ producto.valor|floatformat:0 }}
                    </div>
                    <ul class="list-unstyled lh-lg">
                      <li><strong>15</strong> tarotistas de primer nivel.</li>
                      <li>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon me-1 text-success"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M5 12l5 5l10 -10" />
                        </svg>
                        Llama desde cualquier número.
                      </li>
                    </ul>
                    <div class="text-center mt-4">
                      <a
                        href="{% url 'producto' tienda producto.slug %}"
                        class="btn w-100"
                        >Comprar</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              {% endif %} {% endfor %}

              <div class="col-12">
                <div class="card card-md text-center">
                  <div class="card-body">
                    <div class="card-status-top bg-purple"></div>
                    <div class="row align-items-center">
                      <div class="col">{{ pie|safe }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer footer-transparent d-print-none">
          <div class="container">
            <div class="row text-center align-items-center flex-row-reverse">
              <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                    <a
                      href="https://fonotarot.com/preguntas-frecuentes/"
                      class="link-secondary"
                      rel="noopener"
                      >Politica de Tratamiendo de Datos</a
                    >
                  </li>
                  <li class="list-inline-item">
                    <a
                      href="https://fonotarot.com/preguntas-frecuentes/"
                      class="link-secondary"
                      rel="noopener"
                      >Denuncia Segura</a
                    >
                  </li>
                  <li class="list-inline-item">
                    <a
                      href="https://gitlab.com/fonotarot/"
                      class="link-secondary"
                      rel="noopener"
                      >Código Fuente</a
                    >
                  </li>
                </ul>
              </div>
              <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                    Copyright &copy; 2024
                    <a href="https://fonotarot.com" class="link-secondary"
                      >ZVN Comunicaciones SA</a
                    >. Todos los derechos reservados.
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-secondary" rel="noopener">
                      v2024.4.1
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->

    <script src="{% static 'zvn/tabler/js/tabler.min.js' %}" defer></script>
  </body>
</html>
