{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Paga tus minutos Fonotarot." />
    <meta name="author" content="mariofix" />
    <meta name="generator" content="fonotarot-portal/2024.6.0 cthulhu/2.0.1" />

    <title>Compra Minutos {{ tienda.nombre }} - {{app_name}}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'zvn/applab/assets/img/favicons/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'zvn/applab/assets/img/favicons/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'zvn/applab/assets/img/favicons/favicon-16x16.png' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'zvn/applab/assets/img/favicons/favicon.ico' %}" />
    <link rel="manifest" href="{% static 'zvn/applab/assets/img/favicons/manifest.json' %}" />
    <meta name="msapplication-TileImage" content="{% static 'zvn/applab/assets/img/favicons/mstile-150x150.png' %}" />
    <meta name="theme-color" content="#ffffff" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link href="{% static 'zvn/applab/assets/css/theme.css' %}" rel="stylesheet" />
  </head>

  <body>
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 backdrop shadow-transition" data-navbar-on-scroll="data-navbar-on-scroll" style="
          background-image: none;
          background-color: rgba(255, 255, 255, 0.42);
        ">
        <div class="container">
          <a class="navbar-brand d-flex align-items-center fw-bold fs-2" href="https://fonotarot.com">
            <div style="color: #6f42c1">Fono</div>
            <div class="text-1000">Tarot</div>
          </a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0">
              <li class="nav-item" data-anchor="data-anchor">
                <a class="nav-link fw-normal text-dark active" aria-current="page" href="#home">Inicio</a>
              </li>
              <li class="nav-item" data-anchor="data-anchor">
                <a class="nav-link fw-normal text-dark" href="#pricing">Comprar</a>
              </li>
              <li class="nav-item" data-anchor="data-anchor">
                <a class="nav-link fw-normal text-dark" href="#testimonial">Testimonios</a>
              </li>
              <li class="nav-item" data-anchor="data-anchor">
                <a class="nav-link fw-normal text-dark" href="#ayuda">Ayuda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bolder text-dark" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#6f42c1" class="bi bi-moon-fill" viewBox="0 0 16 16">
                    <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278" />
                  </svg></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-8" id="pricing">
        <div class="container bg-light bg-opacity-50 rounded-3" style="
            background-image: none !important;
            background-color: rgba(255, 255, 255, 0.7) !important;
          ">
          <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xxl-5 text-center mb-3">
              <p class="mb-4">{{ bajada|safe }}</p>
            </div>
          </div>
          <div class="row flex-center">
            {% for producto in productos %}
            <div class="col-lg-3">
              <div class="card shadow-lg mb-4 {% if producto.destacado %}border-success{% else %}border-0{% endif %}">
                <div class="card-header border-bottom-0 pt-5 pb-5">
                  <div class="d-flex justify-content-center">
                    <h1 class="fw-bold">
                      ${{ producto.valor|floatformat:"0g" }}
                    </h1>
                  </div>
                  <h5 class="fw-bold text-center"></h5>
                  <span class="text-700 text-center d-block">{{ producto.nombre }}</span>
                </div>
                <div class="card-body mx-auto">
                  <ul class="list-unstyled mb-4">
                    <li class="text-700 py-2 text-secondary">
                      Selecciona tu tarotista.
                    </li>
                    <li class="text-700 py-2 text-secondary">
                      Llama cuando quieras.
                    </li>
                  </ul>
                  {% if producto.destacado %}
                  <a class="btn btn-lg btn-success rounded-pill mb-3" href="{% url 'producto' tienda producto.slug %}">Comprar Bolsa</a>
                  {% else %}
                  <a class="btn btn-lg btn-info rounded-pill mb-3" href="{% url 'producto' tienda producto.slug %}">Comprar Bolsa</a>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!-- end of .container-->
      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

      <section class="py-4" id="testimonial">
        <div class="container-lg rounded-3" style="
            background-image: none !important;
            background-color: rgba(255, 255, 255, 0.9) !important;
          ">
          <div class="row flex-center">
            <div class="col-sm-10 col-md-5 col-lg-5 order-md-0 text-center text-md-start">
              <img class="img-fluid mb-4" src="{% static 'zvn/applab/assets/img/illustrations/testimonial.png' %}" alt="" />
            </div>
            <div class="col-sm-10 col-md-6 col-lg-6 text-center text-md-start offset-md-1">
              <h6 class="fw-bold fs-4 display-3 lh-sm">
                Lo que dicen de nosotros
              </h6>
              <div class="carousel carousel-dark slide" id="testimonios" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <div class="row h-100">
                      <div class="col-12">
                        <p class="mb-0 text-center text-md-start">
                          Tengo dos tarotistas favoritas: Simone y Paulina. Explico por qué… Simone es muy acertiva, clara para dar respuestas y muy atenta. Ya somos casi amigas, es excelente tarotista, 100% recomendable. Paulina es muy cariñosa, es acertiva; también 100 % recomendable.
                        </p>
                      </div>
                      <div class="col-xl-6 pt-4 d-flex d-sm-block flex-center">
                        <div class="d-flex align-items-md-center">
                          <div class="w-lg-50 my-3">
                            <h5 class="mb-0 fw-bold">Lissette</h5>
                            <p class="fw-normal mb-0">
                              Tecnico en Construccion Civil, 8 Años con nosotros.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="10000">
                    <div class="row h-100">
                      <div class="col-12">
                        <p class="mb-0 text-center text-md-start">
                          Mis tarotistas preferidas son Altair y Simone. La verdad es que son asertivas en la mayoría de las preguntas. Tampoco descarto a Álvaro, Paulina y Verónica, también son muy buenos. Lo mejor es que también saben dar consejos y nos son nada antipáticos. Saben llegar al corazón de las personas.
                        </p>
                      </div>
                      <div class="col-xl-6 pt-4 d-flex d-sm-block flex-center">
                        <div class="d-flex align-items-md-center">
                          <div class="w-lg-50 my-3">
                            <h5 class="mb-0 fw-bold">Susan</h5>
                            <p class="fw-normal mb-0">
                              Peluquera, 10 años confiando en Fonotarot.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="position-relative mt-sm-n5">
                  <a class="carousel-control-prev carousel-icon z-index-2" href="#testimonios" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next carousel-icon z-index-2" href="#testimonios" role="button" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="py-4 bg-light rounded-3" id="ayuda">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-5 col-lg-7 order-md-1 text-center text-md-start z-index-2 cta-image">
              <img class="img-fluid mb-4 mb-md-0" src="{% static 'zvn/applab/assets/img/illustrations/cta.png' %}" width="850" alt="" />
            </div>
            <div class="col-md-7 col-lg-5 text-center text-md-start">
              <h1 class="display-3 fw-bold lh-sm">Ayuda</h1>
              <p class="my-4">
                Si tienes dudas o algun inconveniente puedes contactarte con nosotros a traves de nuestro canales de atención.
              </p>
              <div class="d-flex justify-content-center d-md-inline-block">
                <a class="pe-2 pe-sm-3 pe-md-4 mb-3 text-end" href="https://api.whatsapp.com/send/?phone=56963349072&text=Hola,+necesito+ayuda+en+FonoTarot,+es+sobre...%3F&app_absent=0"><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="#20c997" class="bi bi-whatsapp" viewBox="0 0 16 16">
                    <path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232" />
                  </svg></a>

                <a class="pe-2 pe-sm-3 pe-md-4 mb-3 text-end" href="mailto:consultas@fonotarot.com"><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-envelope-at" viewBox="0 0 16 16">
                    <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z" />
                    <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648m-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z" />
                  </svg></a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-8 bg-1000">
        <div class="container">
          <div class="row flex-center">
            <div class="col-auto mb-5">
              <a class="pe-2 d-flex align-items-center text-decoration-none fw-bold fs-3" href="https://fonotarot.com">
                <div style="color: #6f42c1">Fono</div>
                <div class="text-white">Tarot</div>
              </a>
            </div>
          </div>
          <div class="row flex-center">
            <div class="col-auto mb-5">
              <ul class="list-unstyled list-inline mb-0">
                <li class="list-inline-item me3 me-sm-4">
                  <a class="text-light text-decoration-none" href="https://tienda.fonotarot.com/cl">Chile</a>
                </li>
                <li class="list-inline-item me3 me-sm-4">
                  <a class="text-light text-decoration-none" href="https://tienda.fonotarot.com/mx">Mexico</a>
                </li>
                <li class="list-inline-item me3 me-sm-4">
                  <a class="text-light text-decoration-none" href="https://tienda.fonotarot.com/pe">Perú</a>
                </li>
                <li class="list-inline-item me3 me-sm-4">
                  <a class="text-light text-decoration-none" href="https://tienda.fonotarot.com/ar">Argentina</a>
                </li>
                <li class="list-inline-item me3 me-sm-4">
                  <a class="text-light text-decoration-none" href="https://tienda.fonotarot.com/us">USA</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row flex-center">
            <div class="col-auto mb-5">
              <ul class="list-unstyled list-inline">
                <li class="list-inline-item me-3">
                  <a class="text-decoration-none" href="https://www.facebook.com/fonotarot">
                    <svg class="bi bi-facebook" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#7D7987" viewBox="0 0 16 16">
                      <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path>
                    </svg></a>
                </li>
                <li class="list-inline-item me-3">
                  <a href="https://www.youtube.com/channel/UCetAVx22UYfkaerpvV2pO6w">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#7D7987" class="bi bi-youtube" viewBox="0 0 16 16">
                      <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z" />
                    </svg></a>
                </li>

                <li class="list-inline-item me-3">
                  <a href="https://www.instagram.com/tufonotarot/">
                    <svg class="bi bi-instagram" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#7D7987" viewBox="0 0 16 16">
                      <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"></path>
                    </svg></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row flex-center">
            <div class="col-auto">
              <p class="mb-0 fs--1 text-700">
                &copy; ThemeWagon - AppLab&nbsp;
              </p>
            </div>
          </div>
        </div>
        <!-- end of .container-->
      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        ...
      </div>
    </div>
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="{% static 'zvn/applab/vendors/is/is.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'zvn/applab/assets/js/theme.js' %}"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&amp;display=swap" rel="stylesheet" />
  </body>

</html>