{% extends 'core/template_base_public.html' %}

{% load i18n %}
{% block title %}{% translate "Login" %}{% endblock %}

{% block card_content %}
{% if user.is_authenticated %}
<script>location.href="{% url 'dashboard' %}";</script>
{% endif %}
<div class="auth-content">
    <p class="text-center">
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">{{error}}</div>
        {% endfor %}
        {% if next %}
            {% translate "You need to be logged in to access" %}<b>{{next}}</b>
        {% endif %}
    </p>
    <form id="login-form" class="needs-validation" action="{% url 'login' %}" method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <div class="form-group">
            <label for="username">{% translate "Username" %}</label>
            <input type="text" class="form-control underlined" name="username" id="username" placeholder="{% translate "Username" %}/{% translate "Email" %}/{% translate "Phone Number" %}" required autocomplete="username" aria-autocomplete="inline">
            <div class="invalid-feedback">
                {% translate "You must enter a valid username." %}<br>
                {% translate "Can be:" %}
                {% translate "Username" %}
                {% translate "Email" %}
                {% translate "Phone Number" %}
            </div>
        </div>
        <div class="form-group">
            <label for="password">{% translate "Password" %}</label>
            <input type="password" class="form-control underlined" name="password" id="password" placeholder="{% translate "Password" %}" required autocomplete="current-password" aria-autocomplete="inline">
            <div class="invalid-feedback">
                {% translate "You must enter a valid password" %}
            </div>
        </div>
        <div class="form-group">
            <a href="{% url 'password_reset' %}" class="forgot-btn pull-right">{% translate "Forgot your password?" %}</a>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary">{% translate "Log In" %}</button>
        </div>
        <div class="form-group">
            <p class="text-muted text-center">{% translate "Want an account?" %} <a href="{% url 'django_registration_register' %}">{% translate "Register!" %}</a></p>
        </div>
    </form>
</div>
{% endblock %}