{% load static %}
<!doctype html>
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Registro Portal Clientes</title>
        <meta name="description" content="Ingreso Portal Clientes">
        <meta name="author" content="FonoTarot">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
        <link rel="stylesheet" href="{% static 'core/css/app-red.css' %} ">
        <script src="https://kit.fontawesome.com/567201f1ae.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="auth">
            <div class="auth-container">
                <div class="card">
                    <header class="auth-header">
                        <h1 class="auth-title">
                            <div class="logo fas fa-bacteria text-danger">
                            </div>
                             Portal Clientes
                        </h1>
                    </header>
                    <div class="auth-content">
                        <p class="text-center">
                            <div class="alert alert-success" role="alert">Por favor activa tu cuenta siguiendo las instrucciones en el correo que te acabamos de enviar, revisa la carpeta de SPAM si no está en tu Bandeja de Entrada.</div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Reference block for JS -->
        <div class="ref" id="ref">
            <div class="color-primary"></div>
            <div class="chart">
                <div class="color-primary"></div>
                <div class="color-secondary"></div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
        <script src="{% static 'core/js/responsive-toolkit/dist/bootstrap-toolkit.js' %}"></script>
        <script src="{% static 'core/js/tinycolor2/dist/tinycolor-min.js' %}"></script>
        <script src="{% static 'core/js/nprogress/nprogress.js' %}"></script>
        <script src="{% static 'core/js/app-auth.js' %}"></script>
    </body>
</html>